/* Index 
        1. Fonts & Text
        2. Colors
        3. Links & Buttons
        4. Cards
        5. Page Layout / Page-Specific Rules
*/

/* Fonts & Text */

* {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    text-align: center;
    /* color: #141c3a; */
}

.unbold {
    font-weight: normal;
}

/* hr {

} */

/* Colors */
.primary-bg {
    background-color: #dd1c1a;
    color: white;
}

.primary-text {
    color: #dd1c1a;
}

.secondary-bg {
    background-color: #141c3a;
    color: white;
}

/* Unused
.secondary-text {
    color: #141c3a;
} */

p,
li {
    font-size: 1.2em;
    font-weight: 300;
}

/* Links & Buttons */
.link {
    color: #dd1c1a;
    text-decoration: none;
    font-weight: 400;
}

.link:hover {
    color: #bb0805;
}

.link-reverse {
    color: #141c3a;
    text-decoration: none;
    font-weight: 400;
}

.link-reverse:hover {
    color: #dd1c1a;
    transition: 0.25s;
}

.button {
    color: #dd1c1a;
    text-decoration: none;
    font-size: 18px;
    padding: 0.6em 1em 0.6em 1em;
    border: 2px solid #dd1c1a;
    border-radius: 20px;
}

.button:hover {
    background-color: #dd1c1a;
    border-color: #dd1c1a;
    color: white;
    transition: 0.25s;
}

.footer-bttn {
    color: white;
    height: 1em;
    width: 1em;
    line-height: 1em;
    padding: 0.7em;
    border-radius: 100%;
    border-color: darkgray;
}

.footer-bttn:hover {
    background-color: white;
    color: #dd1c1a;
    border-color: white;
}

.hidden {
    opacity: 0;
}

.hover-unhide:hover .hidden,
.hover-unhide :hover {
    opacity: 1;
    transition: 0.25s;
}

/* Cards */

.card-bg {
    background-color: white;
    border-radius: 16px;
    border: 1px solid #ededed;
    box-shadow: 0px 3px 2px #ededed;
    margin: 7px;
}

.overlapping {
    height: 100%;
    position: relative;
    bottom: 8em;
    margin: auto;
    max-width: 1200px;
}

.card-format {
    display: inline-block;
    padding: 40px;
    width: 300px;
}

.card-format ul {
    list-style-type: none;
    padding: 0;
}

#center-card {
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed;
}

/* Page Layout / Page-Specific Rules */
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#navbar {
    height: 150px;
    overflow: hidden;
    vertical-align: middle;
}

#navlogo {
    position: absolute;
    top: 30px;
    left: 20px;
    margin: 0 0.5em 0 0.5em;
}

#navlinks {
    position: absolute;
    top: 30px;
    right: 20px;
}

#navlinks > a {
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
}

/* Removes whitespace around non-text inline block elements, e.g. images. */
.remove-whitespace {
    font-size: 0;
}

#intro {
    /* min-height: calc(100vh - 150px); */
    margin: auto;
    width: fit-content;
    font-size: 1.3em;
    word-spacing: 0.1em;
}

#introblurb {
    margin: 0 0 2em 0;
    font-size: 1em;
}

.bio {
    overflow: auto;
}

.textblock {
    margin: 8% 23% 10em 23%;
}

/* #skills {
    height: 100%;
    background-color: white;
    position: relative;
    bottom: 8em;
    margin: 4% 4% 0 4%;
    border-radius: 16px;
    border: 1px solid #ededed;
    box-shadow: 0px 3px 2px #ededed;
} */

/* #skills-cards > .card { */
/* .skill-card {
    width: 33%;
} */

.project-card {
    height: 215px;
    width: 320px;
    margin: 1em;
    border-radius: 15px;
}

.secondary-bttn {
    position: relative;
    color: white;
}

.project-txt {
    color: white;
    margin: 2em 0 2em 0;
}

#meta-card {
    background-image: url('img/thissite.png');
    background-color: #141c3a;
}

#lin-card {
    background-image: url('img/linuxterminal.png');
    background-position: right;
    background-color: #141c3a;
}

#win-card {
    background-image: url('img/windowsterminal.png');
    background-color: #141c3a;
    background-position: center;
}

#meta-card:hover,
#lin-card:hover,
#win-card:hover {
    background-image: none;
    transition: 1s;
}

.grid-container {
    display: grid;
    justify-content: center;
    /* grid-template-columns: 33.333% 33.333% 33.333%; */
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
}

#call-to-action {
    position: relative;
    top: 8em;
    margin: 2em auto 2em auto;
    width: 1200px;
    border-radius: 15px;
}

.cell {
    width: 33.333%;
    padding: 1.5em;
}

#footer {
    overflow: hidden;
    padding-top: 10em;
    color: darkgray;
}

#to-top {
    position: relative;
    left: 20em;
    bottom: 8em;
}
