/* Index 
        1. Fonts & Text
        2. Colors
        3. Spacing
        4. Links & Buttons
        5. Cards
        6. Navbar
        7. Grids
        8. Carousel
        9. Tables
*/

/* Fonts & Text */

* {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-size: 1.85em;
}

p,
li {
    font-size: 1.2em;
    font-weight: 300;
}

.lg-txt {
    font-size: 1.3em !important;
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.auxiliary {
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 1em;
}

.unbold {
    font-weight: normal;
}

#page-title {
    margin-top: 2rem;
    font-size: 3em;
}

#page-sub {
    font-size: 1.3em;
}

/* Colors */

.primary-bg {
    background-color: #dd1c1a;
    color: white;
}

.primary-text {
    color: #dd1c1a;
}

.secondary-bg {
    background-color: #141c3a;
    color: white;
}

/* Spacing */

body {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
}

.title {
    max-width: 600px;
    margin: 4rem auto 0.5rem auto;
}

.subtitle {
    max-width: 800px;
    margin: 0 auto 4rem auto;
}

.section {
    padding-bottom: 8rem;
}

.hr-spacer {
    margin-bottom: 8rem;
    border-bottom: 1px solid lightgray;
}

.bio {
    overflow: auto;
    padding-top: 4em;
    padding-bottom: 14rem;
}

.showcase {
    max-width: 1200px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
}

.overlapping {
    position: relative;
    bottom: 10rem;
    height: 100%;
    max-width: 1200px;
    margin: auto !important;
    padding-bottom: 0;
}

.overlapping + .section > .title:first-child {
    margin-top: 0;
}

.sq-logo {
    height: 60px;
    width: 60px;
}

.full-logo {
    max-width: 100%;
    max-height: 65px;
}

.avatar {
    max-height: 100px;
    max-width: 100px;
    margin-bottom: 2em;
    border-radius: 50%;
}

#header-avatar {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
}

#computer-img {
    font-size: 0;
}

#footer {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 10em;
    color: darkgray;
}

#social-links {
    margin: 3em auto;
}

@media (min-height: 840px) {
    #init-view {
        min-height: 100vh;
    }
    #computer-img {
        position: absolute;
        top: calc(100vh - 265px);
        left: 0;
        right: 0;
    }
}

/* Links & Buttons */

.link {
    color: #dd1c1a;
    text-decoration: none;
    font-weight: 400;
}

.link:hover {
    color: #bb0805;
}

.link-reverse {
    color: #141c3a;
    text-decoration: none;
    font-weight: 400;
}

.link-reverse:hover {
    color: #dd1c1a;
    transition: 0.25s;
}

.button {
    color: #dd1c1a;
    text-decoration: none;
    font-size: 18px;
    padding: 0.5em 1em;
    border: 2px solid #dd1c1a;
    border-radius: 25px;
}

.button:hover {
    background-color: #dd1c1a;
    border-color: #dd1c1a;
    color: white;
    transition: 0.25s;
}

.secondary-bttn {
    position: relative;
    color: white;
}

.footer-bttn {
    display: inline-block;
    color: white;
    padding: 10px;
    margin: auto 1rem;
    border: 2px solid darkgray;
    border-radius: 50%;
}

.footer-bttn:hover {
    background-color: white;
    color: #dd1c1a;
    border-color: white;
    transition: 0.25s;
}

.button-svg {
    display: block;
    height: 20px;
    width: 20px;
}

span > .button-svg {
    display: inline-block;
    vertical-align: text-bottom;
    padding-right: 1rem;
    height: 24px;
    width: 24px;
}

.hidden {
    opacity: 0;
}

.hover-unhide:hover .hidden,
.hover-unhide :hover {
    opacity: 1;
    transition: 0.25s;
}

#to-top {
    position: relative;
    left: 25%;
    bottom: 6rem;
}

/* Cards */

.card-bg {
    background-color: white;
    border-radius: 16px;
    border: 1px solid #ededed;
    box-shadow: 0px 3px 2px #ededed;
    margin: 7px;
}

.card-format {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding: 40px;
}

.card-format ul {
    list-style-type: none;
    padding: 0;
}

.project-card {
    height: 215px;
    border-radius: 15px;
    margin: 7px;
}

.project-txt {
    color: white;
    margin: 2em 0 2em 0;
}

#center-card {
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed;
    height: 500px;
}

.meta-card {
    background-image: url('img/thissite.png');
    background-color: #141c3a;
}

.lin-card {
    background-image: url('img/linuxterminal.png');
    background-position: right;
    background-color: #141c3a;
}

.win-card {
    background-image: url('img/windowsterminal.png');
    background-color: #141c3a;
    background-position: center;
}

.meta-card:hover,
.lin-card:hover,
.win-card:hover {
    background-image: none;
    transition: 1s;
}

/* Navbar */

#navbar {
    height: 150px;
    overflow: hidden;
    vertical-align: middle;
}

#navlogo {
    position: absolute;
    top: 30px;
    left: 5%;
    margin: 0 0.5em 0 0.5em;
}

#navlinks {
    position: absolute;
    top: 30px;
    right: 5%;
}

#navlinks > a {
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
}

/* Grids */

.grid-container {
    display: grid;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(2, 50%);
    column-gap: 5%;
    row-gap: 25%;
}

/* "Carousel" */

.carousel-bttn {
    display: inline-block;
    background-color: #dd1c1a;
    height: 16px;
    width: 16px;
    margin: 2rem 0.5rem;
    font-size: 0;
    border-radius: 50%;
}

/* Tables */

.cell {
    width: 33.333%;
    padding: 1.5em;
}

#call-to-action {
    position: absolute;
    z-index: 1;
    bottom: 460px;
    width: 1200px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 1px 3px #141c3a;
}
